# انسخ هذا الملف باسم .env في نفس المجلد، وحط بيانات مشروعك من:
# Supabase Dashboard > Project Settings > API

VITE_SUPABASE_URL=https://hibawumqchgbiubdsxun.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_P00v0BD9ATNPqq-pofpQhA_M5xeMpdw
